<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/base :: head"></head>
<style th:replace="include/navbar_admin :: style_admin"></style>
<link th:replace="include/navbar_admin :: google_icons"/>
<body>
	<header th:replace="include/navbar :: header"></header>
	<div th:replace="base/base :: information"></div>
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div th:replace="include/navbar_admin :: navbar_admin"></div>
			<div class="col pt-2">
				<h2>
					<a href="" data-target="#sidebar" data-toggle="collapse"
						class="d-md-none"><i class="material-icons">keyboard_arrow_right</i></a>
				</h2>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<canvas class="render-chart" id="myChart" width="400" height="400"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="base/base :: footer"></footer>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			/* ------  AJAX  ------ */
			function solicitud(id) {
				var url = '/admin/ajax/ejemplo';
				var method = 'GET';
				var data = {'id': 1};
				$.ajax({
					url: url,
					method: method,
					data: data,
					success: function (response) {
						renderChart(id, response.labels, response.data);
					},
					error: function (error) {},
				});
			}
			
			/* ------  Render Chart  ------ */
			function renderChart(id, labels, data) {				
				var ctx = document.getElementById(id).getContext('2d');
				var myChart = new Chart(ctx, {
				    type: 'bar',
				    data: {
				        labels: labels,
				        datasets: [{
				            label: 'ejemplo',
				            data: data,
				            backgroundColor: [
				                'rgba(255, 99, 132, 0.2)',
				                'rgba(54, 162, 235, 0.2)',
				                'rgba(255, 206, 86, 0.2)',
				                'rgba(75, 192, 192, 0.2)'
				            ],
				            borderColor: [
				                'rgba(255,99,132,1)',
				                'rgba(54, 162, 235, 1)',
				                'rgba(255, 206, 86, 1)',
				                'rgba(75, 192, 192, 1)'
				            ],
				            borderWidth: 1
				        }]
				    },
				    options: {
				        scales: {
				            yAxes: [{
				                ticks: {
				                    beginAtZero:true
				                }
				            }]
				        }
				    }
				});	
			}
			
			/* ------  Render All Chart  ------ */
			function renderCharts() {
				var charts = $('.render-chart');
				$.each(charts, function () {
					var element = $(this);
					solicitud(element.attr('id'));
				});
			}
			
			
			renderCharts();
			
			/* ------  Ejecución cada minuto  ------ */
			//setInterval(renderCharts, 60000);
		});
	</script>
</body>
</html>